#
# Copyright 2015 Midokura SARL
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---

- name: Install Zookeeper (RedHat7)
  yum: name={{ item }} state=present
  with_items:
    - java-1.7.0-openjdk-headless
    - zookeeper
    - nmap-ncat
    - zkdump
  when: ansible_distribution_version.split(".")[0] == '7'

- name: Install Zookeeper (RedHat6)
  yum: name={{ item }} state=present
  with_items:
    - java-1.7.0-openjdk
    - zookeeper
    - nc
    - zkdump
  when: ansible_distribution_version.split(".")[0] == '6'

  # ugly java fix, bad zk rpm package
- file: path=/usr/java state=directory

- file: src=/etc/alternatives/jre_openjdk dest=/usr/java/default state=link

- template: src=myid dest=/var/lib/zookeeper/myid

- template: src=zoo.cfg dest=/etc/zookeeper/zoo.cfg
