zookeeper.zookeeper_hosts="{{ zk_hosts }}"
zookeeper.use_new_stack=true
cassandra.servers="{{ cs_hosts }}"
cassandra.replication_factor={{ replication_factor }}
cassandra.cluster=midonet
agent.midolman.bgp_keepalive=1s
agent.midolman.bgp_holdtime=3s
agent.midolman.bgp_connect_retry=1s
agent.midolman.lock_memory=false
agent.loggers.root=DEBUG
agent.haproxy_health_monitor.namespace_cleanup=true
agent.haproxy_health_monitor.health_monitor_enable=true
agent.haproxy_health_monitor.haproxy_file_loc=/etc/midolman/l4lb/
cluster.auth.provider_class="org.midonet.cluster.auth.keystone.v2_0.KeystoneService"
cluster.auth.admin_role="admin"
cluster.auth.keystone.tenant_name="admin"
cluster.auth.keystone.admin_token="{{ admin_token }}"
cluster.auth.keystone.host={{ keystone_hostname }}
cluster.auth.keystone.port=35357