[midonet]
name=MidoNet
baseurl={{repo_url_base}}/{{midonet_repo}}{{rpm_repo_suffix}}/{{midonet_dist}}/el{{ansible_distribution_major_version}}/
enabled=1
gpgcheck=1
gpgkey={{pkg_pubkey_url}}

[midonet-openstack]
name=MidoNet OpenStack Packages
baseurl={{repo_url_base}}/{{midonet_os_repo}}{{rpm_repo_suffix}}/{{midonet_os_dist}}/el{{ansible_distribution_major_version}}/
enabled=1
gpgcheck=1
gpgkey={{pkg_pubkey_url}}

[midonet-misc]
name=MidoNet Misc Packages
baseurl={{repo_url_base}}/{{midonet_misc_repo}}{{rpm_repo_suffix}}/stable/el{{ansible_distribution_major_version}}/
enabled=1
gpgcheck=1
gpgkey={{pkg_pubkey_url}}
