# MidoNet
deb {{repo_url_base}}/{{midonet_repo}}{{deb_repo_suffix}} {{midonet_dist}} main

# MidoNet OpenStack
deb {{repo_url_base}}/{{midonet_os_repo}}{{deb_repo_suffix}} {{midonet_os_dist}} main

# MidoNet Misc
deb {{repo_url_base}}/{{midonet_misc_repo}}{{deb_repo_suffix}} stable main
