# Temporary 5.0 repo for quickstart testing:
deb [arch=all] http://builds.midonet.org/midonet-5 testing main
deb [arch=amd64] http://builds.midonet.org/openstack-liberty stable main
deb [arch=amd64] http://builds.midonet.org/misc stable main
