{
  "api_host": "http://{{ login_hostname }}:8181",
  "login_host": "http://{{ midonet_api_hostname }}:8181",
  "api_namespace": "midonet-api",
  "api_version": "{{ midonet_version }}",
  "api_token": false,
  "poll_enabled": false,
  "sidebar_collapsed": false
}
