[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid

[mysqld]
socket = /var/lib/mysql/mysql.sock
bind-address = 127.0.0.1
datadir = /var/lib/mysql
user = mysql
symbolic-links = 0

default-storage-engine = innodb
innodb_file_per_table = 1
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
